.show-link-on-hover:hover .port-hidden {
  opacity: 1 !important;
}
.port-hidden {
  opacity: 0;
}
.question h3 a {
  margin-left: 8px;
}
.show-link-on-hover img {
  cursor: pointer;
}

.question {
  padding-top: 64px;
  user-select: none;
  overflow: hidden;
  transition: max-height ease-out 0.5s;
}

.question-header {
  cursor: pointer;
  text-decoration: none !important;
  position: relative;
}

.question.selected .response {
  max-height: 360px;
  transition: max-height ease-in 0.75s;
}
.question .bg {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to left, #ffebbb, #ffefda);
}
.question .bg.fadeout {
  transition: opacity ease-in 0.3s;
  background-image: linear-gradient(to right, #ffebbb, #ffefda);
}
.question.selected .bg.fadeout {
  opacity: 0;
}

.response {
  overflow: hidden;
  transition: all ease-in-out 0.75s;
  max-height: 0px;
}

.response a {
  transition: all ease 0.5s;
  color: cornflowerblue;
}
.response a:hover {
  color: blue;
  user-select: all !important;
}
