canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  width: 100vw;
}

#portfolio-content {
  z-index: 99;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#portfolio-content div {
  color: black;
  grid-column: 2 / span 10;
  margin: 32px 0;
}
#portfolio-content>div>* {
  background-color: #ffffffcc;
}
#portfolio-content div * {
  margin: 64px 0px;
  padding: 64px 32px;
  border-radius: 16px;
}
#portfolio-content div * * {
  margin: 8px 0px;
}
#portfolio-content div h3 {
  width: 70%;
  font-weight: bold;
}
#portfolio-content div h6 {
  padding: 64px 32px;
  border-radius: 16px;
}
#portfolio-content>div>section>* {
  margin: 16px 8px;
  padding: 16px;
}
img {
  width: 100%;
}
