#portfolio-content {
  color: white;
}
#portfolio-content > div > a > div > img {
  display: inline;
  width: 30px;
  max-height: 45px;
  margin-right: 8px;
  transform: translateY(-5px);
}
#portfolio-content > div > a > div > h3 {
  display: inline;
}
#portfolio-content > div > a > div > h3 > i {
  margin-left: 8px;
}
#portfolio-content > div > a > div > h6 {
  color: #e3e3e3a8;
}
#portfolio-content > div > div > section {
  transition: all 0.5s ease;
  border-radius: 30px;
  box-shadow: 6px 9px 20px 4px rgb(0 0 0 / 52%), 0px 5px 10px 0 rgb(0 0 0 / 18%);
  overflow: hidden;
}
#portfolio-content > div > div > section > * {
  display: none;
}
#portfolio-content > div > div > section > *.active {
  transition: all 0.5s ease;
  display: block;
}
#portfolio-content > div > div > div.pagination {
  margin: auto;
  text-align: center;
}
#portfolio-content > div > div > div.pagination > div {
  border-radius: 180px;
  width: 10px;
  height: 10px;
  margin: 32px 8px 0px 8px;
  background: #777;
  display: inline-block;
}
#portfolio-content > div > div > div.pagination > div.active {
  transition: all 0.5s ease;
  background: white;
}
#portfolio-content > div > div.arrow-left {
  text-align: right;
  filter: invert(1);
  flex: 1;
  min-width: 50px;
}
#portfolio-content > div > div.arrow-left.flip {
  text-align: left;
}
#portfolio-content > div > div.arrow-left > i,
#portfolio-content > div > div.arrow-left > img {
  max-width: 15rem;
  cursor: pointer;
}
#portfolio-content .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
#portfolio-content > div > div.arrow-left.flip > i,
#portfolio-content > div > div.arrow-left.flip > img {
  transform: scaleX(-1);
}
#portfolio-content > div > div:nth-child(2) {
  line-height: 28px;
  flex: 8;
  min-width: 300px;
}
#portfolio-content > div > div:nth-child(4) {
  line-height: 28px;
  flex: 10;
  min-width: 300px;
}
@media only screen and (max-width: 777px) {
  #portfolio-content > div > div:nth-child(4) {
    margin: 0 8%;
  }
}
#portfolio-content > div > div > h6 > span.darken {
  color: #e3e3e3a8;
}
#portfolio-content > div > div:nth-child(2) > hr > strong {
  font-weight: bold;
}
#portfolio-content > hr {
  border-color: #e3e3e3a8;
  margin-top: 64px;
  margin-bottom: 0;
}

#portfolio .opacity-title {
  color: #fff9;
}

.floating-content {
  font-size: 12px;
}
.floating-content > div > div.blurred-image > img {
  border: solid;
  border-color: white;
  border-width: 2px;
  overflow: hidden;
  border-radius: 40px;
}
.floating-content > div > div.blurred-image > section {
  padding: 0 26px;
  transform: translateY(-115px);
  color: white;
  font-weight: bold;
}
.floating-content > div > div.blurred-image > section > span {
  display: block;
}
@media (max-width: 43.75em) {
  .floating-content i.fa {
    margin-top: 8px;
  }
}
@media (max-width: 37.5em) {
  #contact > div > div > div.w3-col.m4.l4.s12.w3-panel.form {
    transform: translateY(-50px);
    padding: 0;
  }
  .floating-content {
    padding: 0 32px;
  }
}
@media (max-width: 31.25em) {
  .floating-content > div > div.blurred-image > section {
    padding: 10px 0 0 30px;
  }
  .floating-content i.fa {
    display: inline;
  }
}

.floating-content .top-block {
  visibility: hidden;
}

.floating-content .form > * {
  margin: 8px 0;
  width: 100%;
  color: white;
  aspect-ratio: auto;
  transition: all 0.5s ease;
}
.floating-content .form > button {
  padding: 0;
}
.floating-content .form > input {
  padding: 0 0 0 16px;
  height: 42px;
  text-align: left;
}
.floating-content .form > input::placeholder,
.floating-content .form > textarea::placeholder {
  color: #ffffffcc;
  opacity: 1;
}
.floating-content .form > input:-ms-input-placeholder,
.floating-content .form > textarea:-ms-input-placeholder {
  color: #ffffffcc;
}
.floating-content .form > input::-ms-input-placeholder,
.floating-content .form > textarea::-ms-input-placeholder {
  color: #ffffffcc;
}
.floating-content .form > strong {
  font-weight: bold;
  text-transform: uppercase;
}
.floating-content .form #contact-message {
  height: 6em;
  border-radius: 1em;
  text-align: unset;
  padding: 0 1em;
}

#ai .bee-color {
  color: #ffb400 !important;
  font-weight: bold;
}

/** ai-showcase-container */

.ai-showcase-container {
  border-radius: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem 3rem;
  text-align: left;
  align-items: start;
}
.ai-showcase-container > div {
  min-width: 270px;
  width: calc(50% - 1.5rem);
  flex: 1;
}
.ai-showcase-container .project {
  display: grid;
  grid-template: 30px 1fr 25px 100px / 4rem 1fr 3rem;
  gap: 0.5rem;
  width: 100%;
  transition: scale 0.3s ease;
  cursor: pointer;
  line-height: 1.25rem;
}
@media only screen and (min-width: 600px) {
  .ai-showcase-container .project:hover {
    scale: 1.1;
  }
}
.ai-showcase-container .text {
  grid-area: 4 / 2 / 4 / 4;
}
.ai-showcase-container .text * {
  margin: 0;
  padding: 0;
}
.ai-showcase-container .text p {
  font-size: 0.8rem;
}
.ai-showcase-container .project h6 {
  text-transform: capitalize;
  font-weight: bold;
  padding: 0.5rem 0;
}
.ai-showcase-container .quick-tip {
  text-transform: uppercase;
  color: white;
  background-color: black;
  padding: 0.25rem;
  font-size: 0.8rem;
  border-top-left-radius: 0.25rem;
  grid-area: 3 / 3 / 3 / 3;
  text-align: center;
  margin: 0;
}
.ai-showcase-container iconify-icon {
  grid-area: 4 / 1 / 4 / 1;
  min-width: 3rem;
  max-width: 3rem;
  max-height: 3rem;
  border-radius: 50%;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  padding: 0.5rem;
  color: white;
  font-size: 2rem;
}
.ai-showcase-container iconify-icon.red {
  background-color: tomato;
}
.ai-showcase-container iconify-icon.green {
  background-color: yellowgreen;
}
.ai-showcase-container img {
  grid-area: 1 / 1 / span 3 / span 3;
  width: 100%;
  height: 100%;
}

/** ai-showcase-container-old */

.ai-showcase-container-old {
  padding: 2rem 0;
  margin: auto;
  text-align: center;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.ai-showcase-container-old .lazy-slide-in:hover {
  background: #568efd00 !important;
}
.ai-showcase-container-old .lazy-slide-in {
  animation: colorCycle 15s ease 1s infinite;
  border-radius: 1rem;
}
.ai-showcase-container-old .lazy-slide-in.color-2 {
  animation-delay: 2s;
}
.ai-showcase-container-old .lazy-slide-in.color-3 {
  animation-delay: 2s;
}
.ai-showcase-container-old .lazy-slide-in.color-4 {
  animation-delay: 3s;
}

@keyframes colorCycle {
  0% {
    background-color: #ffb400aa;
  }
  20% {
    background-color: #e03742aa;
  }
  40% {
    background-color: #f02ebfaa;
  }
  60% {
    background-color: #7bc6ffaa;
  }
  80% {
    background-color: #7bffbdaa;
  }
  100% {
    background-color: #ffb400aa;
  }
}

.ai-showcase-container-old .glass-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  flex: 0 0 20rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 1rem;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  backdrop-filter: blur(20px) brightness(50%);
  aspect-ratio: 16 / 11;
  background: linear-gradient(
    160deg,
    rgba(255, 255, 255, 0.39923224568138194) 0%,
    rgba(255, 255, 255, 0.1) 95%
  );
  box-shadow: 0px 9px 20px 8px rgb(0 0 0 / 22%);
  transition: all ease 0.5s;
  border: solid 1px;
  user-select: none;
}

.ai-showcase-container-old .glass-card::after {
  animation-name: shine-large;
}

.ai-showcase-container-old img {
  border-radius: 0.5rem;
  transform: none !important;
  aspect-ratio: 16 / 8;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.ai-showcase-container-old .glass-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 9px 20px 8px rgb(0 0 0 / 27%);
}

.ai-showcase-container-old p {
  margin: 0;
}

/** Portfolio */

@media (max-width: 37.5em) {
  #portfolio {
    padding: 0 32px;
  }
}
canvas#bg,
#portfolio > canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#adventure-container,
#portfolio > main {
  position: absolute;
  width: 100vw;
}

.portfolio-content {
  z-index: 99;
  width: 100%;
  margin: 0px auto;
}
@media (min-width: 37.5em) {
  .portfolio-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    user-select: none;
  }
}
@media (max-width: 37.5em) {
  .portfolio-content {
    /* display: grid; */
    /* grid-template-columns: repeat(12, 1fr); */
    user-select: none;
  }
}

.portfolio-content > *.closed-section {
  overflow: hidden;
  transition: all 1s ease !important;
  max-height: 355px;
}
@media (max-width: 50em) {
  .portfolio-content > *.closed-section {
    max-height: 360px;
  }
}

.portfolio-content > * > .open-on-click {
  cursor: pointer;
}
.portfolio-content > *.opened {
  max-height: 5000px;
}
.portfolio-content * {
  transition: all 0.5s ease;
}
.portfolio-content div {
  color: black;
  grid-column: 2 / span 10;
  margin: 32px 0;
}
.portfolio-content > h2.centered {
  /* position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  color: black;
  grid-column: 2 / span 10;
  margin: 32px 0;
  background-color: #f5f5dccc;
  backdrop-filter: blur(2px);
  border: solid 1px white;
  margin: 64px 0px;
  padding: 64px 32px;
  border-radius: 16px;
}
.portfolio-content > h2.centered:hover {
  background-color: #f5f5dcff;
}
.portfolio-content > div > * {
  background-color: #f5f5dccc;
  backdrop-filter: blur(2px);
  border: solid 1px white;
}
.portfolio-content > div > h3:hover,
.portfolio-content > div > div.hover:hover,
.portfolio-content > div > p:hover,
.portfolio-content > div.condensed.tight > *:hover,
.portfolio-content > div > h6:hover {
  background-color: #f5f5dcff;
}
.portfolio-content div * {
  margin: 64px 0px;
  padding: 64px 32px;
  border-radius: 16px;
}
.portfolio-content div i,
.portfolio-content div a {
  margin: 0;
  padding: 0;
}
.portfolio-content div * * {
  margin: 8px 0px;
}
.portfolio-content div h3 {
  width: 70%;
  font-weight: bold;
}
@media (max-width: 50em) {
  .portfolio-content div h3 {
    width: 100%;
  }
}
.portfolio-content div span.no-padding {
  padding: 0 !important;
}
.portfolio-content div h6 {
  padding: 64px 32px;
  border-radius: 16px;
}
.portfolio-content > div > section {
  /* max-width: 700px; */
}
.portfolio-content > div > section > * {
  margin: 16px 8px;
  padding: 16px;
  /* max-width: 400px; */
}
@media (min-width: 37.5em) {
  .portfolio-content > div > section > * {
    width: 43%;
  }
}
@media (min-width: 100em) {
  .portfolio-content > div > section > * {
    max-width: 500px;
  }
}
.portfolio-content > div > section > img {
  cursor: pointer;
}
.portfolio-content > div > section > *:hover {
  background-color: #f5f5dcff;
}
img,
video {
  width: 100%;
}

.portfolio-content div img.no-padding {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 8px !important;
}

.condensed * {
  margin: 16px 8px !important;
}
.condensed *.no-padding *:not(img) {
  padding: 16px 8px !important;
}
.condensed .m6,
.condensed .m3 {
  margin: 0 !important;
}
.condensed.tight {
  padding: 16px 8px !important;
}
.condensed.tight *.no-padding * {
  margin: 0px !important;
  padding: 8px 4px !important;
}
.condensed.tight .m5,
.condensed.tight .m3 {
  margin: 0px !important;
  padding: 32px !important;
  height: 100%;
}
.condensed.tight .m5 *,
.condensed.tight .m3 * {
  margin: 0px !important;
  padding: 4px !important;
}
.condensed.tight .m2 {
  margin: 0 !important;
  padding: 0 !important;
}

.portfolio-content-parent {
  z-index: 99;
  width: 100%;
  margin: 0px auto;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  user-select: none;
}
.portfolio-content-card {
  transition: all 0.5s ease;
  margin: 64px 0px;
  padding: 64px 32px;
  border-radius: 16px;
  background-color: #f5f5dccc;
  color: black;
  grid-column: 2 / span 10;
}
.portfolio-content-card:hover {
  background-color: #f5f5dcff;
}
.portfolio-content-card button,
.portfolio-content-card input,
.portfolio-content-card textarea,
.portfolio-content-card img {
  border-radius: 8px;
}
@media (max-width: 37.5em) {
  .portfolio-content-card {
    background-color: #f5f5dc00;
    color: white;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }
  .portfolio-content-card:hover {
    background-color: #f5f5dc00;
  }
  .portfolio-content-card .w3-half:nth-child(2) {
    margin: 8px 0;
  }
  .portfolio-content-card .w3-container,
  .portfolio-content-card .w3-panel {
    padding: 0 !important;
    margin: 0 !important;
  }
}
